@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
  font-weight: 900;
}

header.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-size: cover;
}
header.jumbotron .container {
  color: white;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 0px #3a8ba8;
  text-shadow: 3px 3px #cccccc;
}
header.jumbotron h4 {
  color: #fff;
}

section {
  padding: 50px 0px;
  border: dashed 1px #B7C7E2;
  border-radius: 10px;
}
section section#section_ask {
  background-color: #3a8ba8;
}
section .col-sm-5.img {
  background-image: url("https://goo.gl/QeKGVZ");
  height: 350px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

nav {
  font-size: 16px;
  box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.6);
}

a.navbar-brand {
  font-size: 40px !important;
  color: #E8D73C !important;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #1E3059;
  border: 0px;
  height: 60px;
}

footer {
  height: 200px;
  box-sizing: border-box;
  background-color: #D8D6CB;
  color: #3E5577;
}

.container-fluid.text-center.text-md-left {
  line-height: 24px;
}
.container-fluid.text-center.text-md-left h5 {
  font-size: 32px;
  color: #1E3059;
}

.footer-copyright.text-center.py-3 {
  font-size: 13px;
  color: #aaa;
}
